<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This project builds an AVR project compiled by avr-gcc, targeting the ATmega2560.</string>
	<key>FilesToMacroExpand</key>
	<array>
		<string>«PROJECTNAME».xcodeproj</string>
		<string>«PROJECTNAME».c</string>
		<string>main.c</string>
		<string>Makefile</string>
	</array>
	<key>FilesToRename</key>
	<dict>
		<key>StandardTool.1</key>
		<string>«PROJECTNAME»</string>
		<key>main.c</key>
		<string>«PROJECTNAME».c</string>
	</dict>
</dict>
</plist>
